/* FIJOS */
:root {
    --primario: #9c27b0;
    --primarioOscuro: #891190;
    --secundario: #FFce00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #ffffff;
    --negro: #000000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* GLOBALES */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}


/* HEADER */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* NAVEGACION */
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    /* gap: 2rem; forma nueva */
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}

.navegacion__enlace:last-of-type {
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media(min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* PRODUCTOS */
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__informacion {
    text-align: center;
}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 0;
    line-height: 1.2;
}

/* GRAFICOS */
.grafico {
    min-height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(/IMG/grafico1.jpg);
}

.grafico--node {
    background-image: url(/IMG/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* FOOTER */
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.5rem;
}



/* NOSOTROS */

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, auto);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
}


@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/* BLOQUES */
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media(min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}



/* PRODUCTO */
.camisa {
    align-items: center;
}

@media(min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}

.camisa__contenido {
    text-align: center;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    line-height: 1.5;
    font-weight: 700;
}

.grid__formulario {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: .5rem;
}

.formulario__select option {
    text-transform: uppercase;
}

.formulario__select,
.formulario__cantidad {
    padding: 1rem;

}

.formulario__boton {
    padding: 1rem;
    font-size: 3rem;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--secundario);
}